.header-top{
    position: inherit;
}
.header-top {
    position: inherit;
    background: white;
}
.logo {
 
    display: block;
}
.header-top-start{
    padding: 0;
}
.header-widget h5 a{
    color: black;
}
.header-widget h5{
    font-weight: normal;
}
.bar{
    background-color: black;
}
.nav-image-1 {
    filter: invert(0);
}
.nav-image-3 {
    filter: invert(0);
}
@media screen and (max-width:992px) {
    .contact-details{
        display: none;
    }
}